.container
	= image_tag(@question.load_company.logo.url)
	%h3= @question.question_content
	%p

	- if signed_in?
		- if @answers.count > 0
			%b Answers:
		-else
			Be the first to answer	
		#container
			- @answers.each do |comment|
				=render partial: 'layouts/card', locals: { comment: comment }
				
				
	-else
		
		- if @answers.count > 0
			There are
			=@answers.count 
			answers for this question
		- else
			Be the first to answer
			%p 
			Please 
			=link_to "sign in", new_user_session_path
			or 
			=link_to "signup", new_user_registration_path
			to see the answers
		
	.row-fluid
		.span7
			- if signed_in?
				%h3
					Your answers will really help other students!
					%br
					Thanks for sharing!
				.comment-form
					=form_for @new_comment, :url => {:controller => 'comments', :action => 'create'} do |f|
						= f.text_area :body, :placeholder => "By anonymously sharing your advice, you're helping someone make better career decisions - getting them closer to their dreams. Thank you!"
						= f.text_field :title, placeholder: "I know this because ..."
						= f.hidden_field :commentable_id, value: @question.id
						= f.hidden_field :commentable_type, value: @new_comment.commentable_type
						= f.hidden_field :category_id, value: @question.category_id	
						= f.submit

-unless signed_in?
	.about-bottom