/_form.html.haml
.dashboard
	%h3 Your advice will really help other students! Thanks for sharing!
	.comment-form
		= simple_form_for comment do |f|
			= f.input :body, input_html: {rows: '2'}, label: false, :placeholder => "By anonymously sharing your advice, you're helping someone make better career decisions - getting them closer to their dreams. Thank you!"
			= f.input :title, label: false, placeholder: "I know this because ..."
			= f.input :commentable_id, as: :hidden, value: comment.commentable_id
			= f.input :commentable_type, as: :hidden, value: comment.commentable_type
			= f.collection_select :category_id, Category.order(:name).where("category = ?", "Review"), :id, :name

			= f.button :submit, "Add Comment", class: 'btn btn-primary'

		-if false	
			=form_for comment, remote: true do |f|
				= f.text_field :title, placeholder: "I know this because..."
				= f.text_area :body
				= f.hidden_field :commentable_id, value: comment.commentable_id
				= f.hidden_field :commentable_type, value: comment.commentable_type
/			= f.input :subject, collection: ["Interview Review", "Salary Review", "Company Review"]