=form_for @comment do |f|
	%h5 Company:
	= f.text_field :title
	= f.collection_select :commentable_id, Company.order(:name), :id, :name, include_blank: true
	= f.text_area :body, :placeholder => "Make a note about this application"
	= f.select :subject, ["Interview Review", "Salary Review", "Company Review"]
	= f.collection_select :category_id, Category.order(:name).where("category = ?", "Review"), :id, :name, include_blank: true
	= f.hidden_field :commentable_type, value: "Company"
	= f.submit
