%script
	$(document).ready(function() { $("#search").select2({  width: 'resolve', placeholder: "Sort by industry" });});
	$(document).ready(function() { $("#search2").select2({  width: 'resolve', placeholder: "Sort by industry" });});


.large-9.large-offset-1.columns
	%h3.bold Share Advice
	.large-text	Your advice will really help other students! Thanks for sharing!

	%br
	.comment-form
		=form_for @new_comment do |f|
			%h5 Company:
			= f.collection_select :commentable_id, Company.order(:name), :id, :name,{}, :id => "search", include_blank: true
			%h5 Type of Advice:
			= f.collection_select :category_id, Category.order(:name).where("category = ?", "Review"), :id, :name, {}, :id => "search2", include_blank: true

			%h5 Your Advice:
			= f.text_field :title, placeholder: "Advice headline"
			= f.text_area :body, :placeholder => "By anonymously sharing your advice, you're helping someone make better career decisions - getting them closer to their dreams. Thank you!"

			= f.hidden_field :commentable_type, value: "Company"
			.row-fluid
				.span4
					- if signed_in?
						= f.submit "Share Advice", :class => "button success radius small", :id => "save-share"
					- else 
						%br
						= link_to "Share Advice", '#', :class => "button success radius small", :id => "share-advice", :remote => true
						= f.submit "Share Advice", :class => "button success radius small", :id => "save-share"
