%script
	$(document).ready(function() { $("#search").select2({  width: 'resolve', placeholder: "Sort by industry" });});
	$(document).ready(function() { $("#search2").select2({  width: 'resolve', placeholder: "Sort by industry" });});


.row-fluid
	%h3.bold Share Advice
	.large-text	Your advice will really help other students! Thanks for sharing!
	%br

	.info-box-updates
		.pad-top
			.comment-form
				=form_for @new_comment do |f|
					%h5 Company:
					= f.collection_select :commentable_id, Company.order(:name), :id, :name,{}, :id => "search", include_blank: true
					%h5 Type of Advice:
					= f.collection_select :category_id, Category.order(:name).where("category = ?", "Review"), :id, :name, {}, :id => "search2", include_blank: true

					%h5 Your Advice:
					= f.text_area :body, :placeholder => "By anonymously sharing your advice, you're helping someone make better career decisions - getting them closer to their dreams. Thank you!"
					= f.text_field :title, placeholder: "I know this because ..."
					= f.hidden_field :commentable_type, value: "Company"
					.row-fluid
						.span4
							- if signed_in?
								= f.submit "Share Advice", :class => "sign-up-button", :id => "save-share"
							- else 
								%br
								= link_to "Share Advice", '#', :class => "sign-up-button", :id => "share-advice", :remote => true
								= f.submit "Share Advice", :class => "sign-up-button hidden", :id => "save-share"

-unless signed_in?
	.sign-item
		#dialog
			.sign-in-area
				%h4 Create an account
				%br
				= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:id => "sign_up_user"},:format => :html, :remote => true) do |f|
					= f.text_field :first_name, :placeholder => " First Name", :class => "focus_"
					= f.email_field :email, :placeholder => " Email"
					= f.password_field :password, :placeholder => " Password" 	
					= f.hidden_field :role, :value => "student"
					- if false
						= f.password_field :password_confirmation, :placeholder => "Password Confirmation"
					%div= f.submit "Join", :class => "sign-up-button", :id => "join-button"
				=link_to "Already have an account? Sign in", new_user_session_path

		