.large-9.large-offset-1.columns
	
	Advice Discussions &nbsp - &nbsp
	= link_to @comment.get_company_for_comment.name, @company
	&nbsp - &nbsp
	=@comment.title
	

	%hr
	.discussion-area.original
		%b.feed-subtext= @comment.title
		%br
		=simple_format(@comment.body)

	.post-call		
		%b Post a reply
	.discussion-form
		= form_for @discussion do |f|
			=f.text_area :content
			=f.hidden_field :comment_id, value: params[:id]
			=f.submit "Save", :class => "button tiny success radius"
	%br
	%br
	.discussions	
		- @discussions.each do |discussion|
			.discussion-area
				.feed-subtext
					%b= username(discussion.user_id)  #Note helper for username
					\ - posted
					=discussion.created_at.strftime('%Y-%b-%d,  %R')
				%br
				= simple_format(discussion.content)
