.hierachy
  .row-fluid
    .span7.bottom-border
      = link_to "My Jobs", root_path
      \&nbsp >&nbsp #{@job.name}
.editer{:id => "edit-line-#{@appList.id}"}
  .editer-header
    .container-fluid.negative-margin
      .row-fluid
        .span4
          %h4= @job.name
          = @company.name
          \- Closes #{@job.show_due_date}
          = link_to "Website", "http://#{@job.link}"
        .span3
          .pull-right.red-text.appManage-status.pad-bottom
            Status: #{@appList.status}
          = form_for @appList, :as => :applist, remote: true do |f|
            = f.select :status, [['Research'], ['Writing Application'], 
              ['Submitted & Waiting'],['Testing'],                      
              ['Interview'],['Unfollow', 'unfollow']],                  
              {},:onchange => "this.form.submit()";                     
            = f.hidden_field :id, :value => @appList.id
.row-fluid
  .span7.editer-main.pad-top.top-border
    %div{:class => "editer-@job-comments"}
      .grey-text
        %i.icon-list
        Make a note about this application
      %br/
      #comment-area.comment-show
      - @appList.show_normal_notes.reverse.each do |normal|
        %div{:id => "comment-#{normal.id}"}
          .comments-header
            %span.time= (normal.updated_at).localtime.strftime("%d %b %I:%M %P")
            %span.pull-right.time
              = link_to "Delete", normal, method: :delete,  |
                remote: true, data: { confirm: 'You Sure?'} |
            %br/
          = simple_format(normal.info)
      .pad-top
        = render partial: 'comments/comment', collection: @comments, as: :comment
        = render partial: 'comments/form', locals: { comment: @new_comment }
        - if false
          = form_for @appList.create_new_note, :as => :note, remote: true do |a|
            = a.text_area :info, :class=>"note-area",                       |
              :placeholder => "Add a useful note about this particular app" |
            = a.hidden_field :app_list_id, :value => @appList.id
            = a.hidden_field :user_id, :value => current_user.id
            = a.hidden_field :kind, :value => "comment"
            = a.hidden_field :id, :value => @appList.id
            = a.submit :class => "btn btn-success"