<div class="container">
	<div class="row">
		<div class="span12">
			<%= form_for @jobs, :as => :jobs do |f| %>
				<%= f.text_field :name, :placeholder => "Name" %></br>
				<%= f.collection_select :category_id, Category.order(:discipline), :id, :discipline, include_blank: true %></br>
				<%= f.text_area :info, :placeholder => "Information" %></br>
				<%= f.text_field :link, :placeholder => "Website Link in www.something.com form" %></br>
				<%= f.text_field :due_date, :placeholder => "Date, insert as DD/MM/YYYY" %></br>
				<%= f.hidden_field :id, :value => params[:id] %></br>
				<%= f.collection_select :role_id, Role.order(:role), :id, :role, include_blank: true %></br>
				<%= f.submit %>
			<% end %>

			<%= link_to "Delete This Job", @jobs, method: :delete,
																  data: { confirm: 'You Sure?'}%>
		</div>
	</div>
</div>

