<div class="hierachy">
	<div class="row-fluid">
		<div class="span12 bottom-border">
			<b>Open Job Opportunities</b>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span10 jobIndex">
		
		<b><h4> <%= link_to "Advanced Search", new_search_path %> </h4></b>
		</br>
		
		<ul class="unstyled">
			<% @jobs.each do |j| %>
				<%= link_to j do %>
					<li><strong><%= j.find_company.name %></strong> - <%= j.name %> - 
					<span class="pull-right"><%= j.show_due_date%></span>
					</li>
				<% end %>
			<% end %>
		
		</br>
		<p>
			Can't find the job you are looking for, <%= link_to "tell us here", new_problem_path %>
			
		
	</div>
</div>
