.dashboard
.row-fluid
	.span7.jobIndex
		.info-box-light-orange
			%h5 Filter by Discipline:
			= select_tag :category_id, options_from_collection_for_select(Category.all, "id", "discipline"), include_blank: true, :onchange => "this.form.submit()"
		.dashboard
	
		%h4(class="applist-area")
			Jobs Opportunities
		%ul.unstyled
			- @jobs.each do |j|
				.appManage
					.row-fluid
						.span12
							= link_to j do
								%li
									%strong= j.find_company.name
									\ &nbsp - &nbsp #{j.name}
									.pull-right
										= j.show_due_date

										- if user_signed_in?
											- if current_user.is_following_applist?(j)
												&nbsp &nbsp
												%span.label.label-list Following
											- else
												= form_for(current_user.app_lists.build, :as => :applist) do |f|
													= f.hidden_field :job_id, :value => j.id
													= f.hidden_field :status, :value => "Research"
													= f.submit "Follow", class: "follow-button job-index"

	.span3
