.hierachy

.row-fluid
  .span7
    %h3
      = @job.find_company.name
      = @job.name 
    %h4
      %strong= link_to @job.find_company.name, @job.find_company
      \- Closes #{@job.due_date.strftime("%B %e")}

      - if user_signed_in?
        - if current_user.is_following_applist?(@job)
          %br
          %span.label.label-inverse You are following this job
        - else
          = form_for @appList, :as => :applist do |f|
            = f.hidden_field :job_id, :value => params[:id]
            = f.submit "Add to My Jobs", :class => "btn btn-info btn-large"


          = link_to "Official Link", "http://#{@job.link}", :target => "_blank"
        Type: #{Role.find(@job.role_id).role}
        %br/
        Discipline: #{Category.find(@job.category_id).discipline}
        %hr
          = simple_format(@job.info)