
	<div class="row-fluid margin-top">
		<div class="span10">
			<h3>
			<% cache @job do %>
				<%= @job.name %><br />
			</h3>
			<h4>
				<strong><%= link_to @job.find_company.name, @job.find_company %></strong>
				<% if @job.due_date != nil %>	
					- Closes <%= @job.due_date.strftime("%B %e")%>
				<% end %>
			</h4>	
				<hr>
				<% if current_user.is_following_applist?(@job) %>
					<span class="label label-inverse">You are following this job</span>
				<% else %>
					<%= form_for @appList, :as => :applist do |f|%>
						<%= f.hidden_field :job_id, :value => params[:id] %>
						<%= f.submit "Add to Dashboard", :class => "btn btn-info"%>
					<% end %>
				<% end %>
				&nbsp
				Type: <%= Role.find(@job.role_id).role %>
				
				<hr>
			
				
				Discipline: <%= Category.find(@job.category_id).discipline %></br>
				HR Contact: <%= @job.relevant_hr_email %></br>
				<% if @job.has_website? %>
					<%= link_to "Official Link", "http://#{@job.link}" %></br></br>
				<% end %>
				<hr>
				<%= simple_format(@job.info) %></br>
			<% end %>
			
		</div>
	</div>


