.hierachy
.row-fluid
	.span7
		.row-fluid
			.span8
				%h3
					= @job.find_company.name
					= @job.name 
				%span
			
					Closes #{@job.due_date.strftime("%B %e")}
					%br
					Type: #{Role.find(@job.role_id).role}
					%br
					Discipline: #{Category.find(@job.category_id).discipline}

			.offset1.span3
				.pull-right
					=link_to "http://#{@job.link}", :target => "blank" do
						.go-to-link
							Apply now at their website

		%hr 
		- if signed_in?         
			- if current_user.is_following_applist?(@job)
				%br
				%span.label.label-inverse You are following this job
			- else
				= form_for @appList, :as => :applist do |f|
					= f.hidden_field :job_id, :value => params[:id]
					= f.submit "Follow Job ", :class => "follow-button"
			%hr
	.span5
		.wiki-title
			%h6
				Public Wiki for 
				= @job.find_company.name
				= @job.name
		.wiki-info
			-if @job.wiki == nil
				No one's added information about this job yet - add your insights here

			-else
				=simple_format(@job.wiki)
			.pad-top
				%br
				-if signed_in?
					=link_to "Edit Wiki", edit_job_path(@job), :class => "sign-up-button"
				-else
					=link_to "Edit Job", new_user_registration_path, :class => "sign-up-button"

		.wiki-title
			%h6 Link to Whirlpool forum
		.wiki-info
			Hello