
<%= simple_form_for @group do |f| %>
	
	<%= f.input :name, required: true, placeholder: "Your Group Name" %>
	
	<%= f.input :description, placeholder: "Description" %>
	
	
	<%= f.fields_for :groupmembers do |groupmembers| %>
		<%= groupmembers.hidden_field :user_id, :value => current_user.id %>
		<%= groupmembers.hidden_field :group_id, :value => params[:id] %>
		<%= groupmembers.hidden_field :admin, :value => true %>
		<%= groupmembers.hidden_field :owner, :value => true %>
	<% end %>
	<%= f.button :submit %>
	
<% end %>

<h5>Also add in the chance to add users AT THE SAME TIME D:</h5>
