/ show.html.haml

.row-fluid
	.span9
		.group
			.pad-top
				%h3= @group.name				
				.comments
				= render partial: 'comments/comment', collection: @comments, as: :comment
				= render partial: 'comments/form', locals: { comment: @new_comment }
	.hidden-phone
		.span3
			.pad-all
			
				.row-fluid
					.span12
						- if @group.documents.count > 0
							%h5 Files	
						- @group.documents.each do |document|
							= document.name
				
			
			
				.row-fluid
				- if can? :manage, Group
					.info
					.info
						.groupmember_invite-form
							= simple_form_for :invite, as: :groupmembers, url: groupmembers_path(:invite) do |f|
								= f.input :email
								= f.input :group_id, as: :hidden, :input_html => { :value => params[:id] }
								= f.button :submit, "Invite Person"
					- @groupmembers.each do |user|
						.span4
							.circle-user-list

							.center-alignment
								= user.first_name
/								= form_for(user.groupmembers.find_by_user_id(user), method: :delete) do |f|
/										= f.button :submit
