<div class="visualStructureHelp">
	<h3>First, get your resume in the right structure</h3>
	<div class= "visualheading">
		Placing your information in the right order makes sure
			that HR knows what to expect and whether you're worthwhile to look into
	</div>	
		</br>
		<div class="vsimage">
			
			<div class="FirstResumeArea">

				<h3><%= current_user.first_name%>
					<%= current_user.last_name%></h3>
				<p>Email: <%= current_user.email%></p>
				<p>
					<% if current_user.mobile_number == nil %>
						
					<% else %>
						Contact Number: <%= current_user.mobile_number %>
					<% end %>
					</p>
				</br>
				
				<%= form_for @user, :as => :user do |f|%>	
				
					<div class="SecondResumeArea">
						<legend> Education </legend>
						<p><%= f.text_field :name	, :placeholder => "University/School" %></p>
						<p><%= f.text_field :degree, :placeholder => "Degree Name" %></p>
						<p><%= f.text_field :majors, :placeholder => "Majors or Specialisation Name" %></p>
						<p><%= f.text_field :marks, :placeholder => "Marks or GPA" %> </p>
						
						</br></br></br>
						
					<% if false %>	
						<legend> Work Experience </legend>
						
						<p><%= f.text_field "Company Name", :placeholder => "Company Name" %> </p>
						<p><%= f.text_field "Job Role", :placeholder => "Job Role" %> </p>
						<p>Have an option to add another job here | Refer to Step 2 for good dot points! </p>

						</br></br></br>
						
						<legend> Extracurricular Activities </legend>
						
						<p><%= f.text_field "Organisation Name", :placeholder => "Organisation Name" %> </p>
						<p><%= f.text_field "Role", :placeholder => "Role" %> </p>
						<p>Refer to Step 2! </p>						
						
						
					<% end %>	
					</div>
					
					<p><%= f.submit "Check your resume structure out" %></p>
					
				<% end %>
			</div>
			
		</div>
</div>