
.tiny-orange

.home-page
	.dashboard
		
		.container
			.row-fluid
				.offset3.span6
					.center-alignment.home-logo
						= link_to image_tag('white-logo.png'), root_path 
						.home-page-text
							A place to read, create and share job advice by students for students
						.dashboard
						.center-alignment
							=link_to "Sign Up", new_user_registration_path, :class => "signup-button"
							%br
							%br
							Already have an account? 
							&nbsp
							=link_to "Log in now", new_user_session_path 
							%br
							%br
							=render 'layouts/facebook_like_large'
							

			.row-fluid
				.dashboard
				.offset1.span10
					#container
						- @comments.each do |comment|
							- comment_company = comment.get_company_for_comment
							.item
								- if comment.subject == "Interview Review"
									.info-box-light-teal
										.center-alignment
											= image_tag(comment_company.logo.url)
										%br
										%br
										= comment_company.name
										\- 
										= comment.subject
										%h5= truncate((sanitize(comment.body)), length: 240)

								- elsif comment.subject == "Salary Review"
									.info-box-light-orange
										.center-alignment
											= image_tag(comment_company.logo.url)
										%br
										%br		
										= comment_company.name
										\-
										=comment.subject
										%h5= truncate((sanitize(comment.body)), length: 240)
								-elsif comment.subject == "Company Review"
									.info-box-yellow
										.center-alignment
											= image_tag(comment_company.logo.url)
										%br
										%br
										= comment_company.name
										\-
										=comment.subject
										%h5= truncate((sanitize(comment.body)), length: 240)
