<!-- Header of page -->

 	<%=render 'staticpages/copywritearea'%>  
	<%=render 'staticpages/linebar'%>

<!-- Main Area of Page  -->

	<div class="container">
		<%=render 'staticpages/fourSteps'%>
		<%=render 'staticpages/linebar'%>
		<%=render 'staticpages/resumeWriteSection'%>
		<%=render 'staticpages/questionnare' %>
		<%=render 'staticpages/feedback'%>
	</div>

<!-- Footer of page -->
	<%=render 'staticpages/linebar'%>