<div class="container">
	<%=render 'staticpages/fourSteps'%>
	<%=render 'staticpages/linebar'%>
	<%=render 'staticpages/resumeWriteSection'%>
	<%=render 'staticpages/questionnare' %>
	<%=render 'staticpages/feedback'%>
</div>


