<div class="container">
	<%=render 'staticpages/alphaSignup'%>
	<%=render 'staticpages/linebar'%>
	<%=render 'staticpages/fourSteps'%> 
	<%=render 'staticpages/linebar'%>
	<%=render 'staticpages/resumeWriteSection'%>
</div>


