<h1> New Answer </h1>

<% @question.each do |question| %>
		
	<%= question.question_content %>
	<%= form_for [@responseable, @response]  do |f| %>
		<%= f.text_area :answer, rows: 3 %>
		<%= f.hidden_field :question_id, :value => question.id %>
	<%= f.submit%>
	<% end %>
<% end %>


