
				<% @company.each do |c| %>
					<%= link_to c do %>
						<span class="big-font"><strong><%= c.name %></strong> </span><br />
						<%= Industry.find(c.industry_id).industry %> -
						<% if c.has_number_of_jobs != 0 %>
							 <%= c.jobs.count %> Job Opportunities
						<% end %><br />
						

					<% end %>
							<div id = 'follow_company'>
							<% if current_user.following?(c) %>
								<%= form_for(current_user.follows.find_by_company_id(c), remote: true, method: :delete) do |f| %>
									<%= f.submit "Unfollow", class: "btn btn-large btn-primary" %>
								<% end %>
								
							<% else %>
								<%= form_for(current_user.follows.build, remote: true) do |f| %>
									<%= f.hidden_field :company_id, :value => c.id %>
								<%= f.submit "Follow", class: "btn btn-large btn-primary" %>
								
								<% end %>
						
							<% end %>							
							</div>
						<br />
				<% end %>
				
				<%= will_paginate @company %>




				
