<br />
<div class="container">
	<div class="row">
		<div class="span12">
			<h3>Companies List</h3>
			<p class="grey-text"> <%= Company.count %> companies which offer  
				reputable grad and internship opportunities </p><br />
		</div>
	</div>	
	<div class="row">
		<div class="span6 jobIndex">
			
			<ul class="unstyled">
				<% @allCompanies.each do |c| %>
					<%= link_to c do %>
						<span class="big-font"><strong><%= c.name %></strong> </span><br />
						<%= c.industry%> -
						<% if c.has_number_of_jobs != 0 %>
							 <%= c.jobs.count %> Job Opportunities
						<% end %><br />
					<% end %>
						<%= simple_format( (truncate((c.info), :length=>170)) ) %>
						<br />
				<% end %>
				
				<%= will_paginate @allCompanies %>
		</div>
		
	</div>
</div>