<div class="container">
	<div class="row">
		<div class="span9 jobIndex">
			<h3>Companies List</h3>
			<ul class="unstyled">
				<% @allCompanies.each do |c| %>
					<%= link_to c do %>
						<li><strong><%= c.name %></strong> - <%= c.industry%>  
							<span class="pull-right"><%= c.jobs.count %> Job Opportunities</span>
						</li>
					<% end %>
				<% end %>
		</div>
		<div class="span3 pull-right">
			<%= render 'shared/report_problems'%>
		</div>
	</div>
</div>