<head>
	<% provide(:title, "#{ @company.name } | #{Industry.find(@company.industry_id).industry} ") %>
	 <meta property='st:type' content='Company Profile ' />
</head>
<div class="hierachy">
	<div class="row-fluid">
		<div class="span12 bottom-border">
			<%= link_to "Companies", companies_path %> &nbsp > &nbsp <%= @company.name%>
			<span class="pull-right"><%= render 'layouts/swiftype'%></span>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">		
		<% cache @company do %>		
			<div class=" pad-bottom">
				<h3><%= @company.name %></h3>
					
					<% if user_signed_in?%>
					
						<% if can? :update, @company %>
							<p><%= link_to 'Edit company details', edit_company_path %></p>
							<% end %>
					<% end %>
				</div>
			<div class="top-bottom-borders">
				<%= Industry.find(@company.industry_id).industry %><br />
				<%= link_to "#{@company.website}", "http://#{@company.website}" %></br>
				HR Email: <%= @company.hr_email %></br>
			</div>
			<br />
			<p><%# simple_format(@company.info) %></p>
		
		
		<% end %>
		<% if user_signed_in?%>
			<% if can? :create, @job %>	
				<%= link_to "Edit Company", edit_company_path %>
					<legend>Create a job</legend>
					<%= form_for @jobs, :as => :jobs do |f| %>
						<%= f.text_field :name, :placeholder => "Name" %>
						<%= f.collection_select :category_id, Category.order(:discipline), :id, :discipline %></br>
						<%= f.text_field :info, :placeholder => "Information" %>
						<%= f.text_field :due_date, :placeholder => "Date, insert as DD/MM/YYYY"%>
						<%= f.hidden_field :id, :value => params[:id] %>
						<%= f.collection_select :role_id, Role.order(:role), :id, :role, include_blank: true %>
						<%= f.text_field :location, :placeholder => "Location" %>
						<%= f.submit %>
					<% end %>
				<% end %>
		<% end 	%>	
			
			
		<% if @company.has_number_of_jobs > 0 %>
			<strong> Job opportunities with <%= @company.name %>: </strong></br></br>
			<ul class="unstyled">
				<% @company.has_jobs.each do |job|%>
					<li><%=link_to	"#{job.name} - #{job.discipline}", job %></li>
				<% end %>
			</ul>
		<% end %>
	</div>
</div>
<% if user_signed_in?%>	
	<% if can? :create, @board %>
		<div class="row-fluid">
				<div class="span12">
					<%= form_for @boards, :as => :boards do |f| %>
						<%= f.text_field :name, :placeholder => "Board Name" %>
						<%= f.hidden_field :company_id, :value => params[:id] %>
						<%= f.submit%>
					<% end %>
				</div>
			</div>	
	<% end %>
<% end %>
	<div class="row-fluid">
		<div class="span12">
			<% @allBoards.each do |board| %>
				<%= link_to board.name, board %> | 
			<% end %>
		</div>
	</div>
	
