.dashboard
.row-fluid
	.span7
		.pad-bottom
			%h3= @company.name
			= Industry.find(@company.industry_id).industry
			%br
			= link_to "#{@company.website}", "http://#{@company.website}"

#container
	- @company_comments.each do |comment|
		.item
			.info-box-light-orange
				.center-alignment
					= image_tag(@company.logo.url)
				%br
				%br
				= @company.name
				\-
				=comment.subject
				%h5
					"
					= comment.body
					"
= render partial: 'comments/form', locals: { comment: @new_comment }