<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<h2><%= @company.name %></h2>
			<% if can? :update, @company %>
				<p><%= link_to 'Edit company details', edit_company_path %></p>
			<% end %>
			<p>Industry: <%= @company.industry %></p>
			<p>Website: <%= link_to "#{@company.website}", "http://#{@company.website}" %></p>
			<p>HR Email: <%= @company.hr_email %></p>
		</div>
		
		<div class="span6">
			<legend>Information:</legend>
			<p><%= simple_format(@info) %></p>
		</div>
		
		<div class="span3">
			<% if can? :create, @job %>
				<legend>Create a job</legend>
				<%= form_for @jobs, :as => :jobs do |f| %>
					<%= f.text_field :name, :placeholder => "Name" %>
					<%= f.text_field :discipline, :placeholder => "Discipline" %>
					<%= f.text_field :info, :placeholder => "Information" %>
					<%= f.text_field :due_date, :placeholder => "Date, insert as DD/MM/YYYY"%>
					<%= f.hidden_field :id, :value => params[:id] %>
					
					<%= f.submit %>
				<% end %>
			<% end %>
			
			<% if @companyJobs != nil %>
				<% @companyJobs.each do |test| %>
					<p>Job Name: <%=link_to	"#{test.name}", test %></p>
				<% end %>
			<% end %>
		</div>
	</div>
	
 	<% if can? :create, @board %>
		<div class="row-fluid">
			<div class="span12">
				<%= form_for @boards, :as => :boards do |f| %>
					<%= f.text_field :name, :placeholder => "Board Name" %>
					<%= f.hidden_field :company_id, :value => params[:id] %>
					<%= f.submit%>
				<% end %>
			</div>
		</div>	
	<% end %>
	<div class="row-fluid">
		<div class="span12">
			<% @allBoards.each do |board| %>
				<%= link_to board.name, board %> | 
			<% end %>
		</div>
	</div>
	
</div>