.homepage
	.row.pad-top
		.large-6.large-offset-1.columns.copywrite
			.sign-in-area
				%h5.bold Sign in 
				= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
					.errors
						= devise_error_messages!
					%div
					= f.email_field :email, :autofocus => true, :placeholder => "Email Address", :class => "focus_"
					= f.password_field :password, :placeholder => "Password"
					%div= f.submit "Sign in", :class => "button success radius small"
				%br	
				= render "devise/shared/links"