<div class="container">
	<div class="row">
		<legend>Edit Education information</legend>
		<%= form_for @user, :as => :user do |f| %>
			<p><%= f.text_field :name	, :placeholder => "University/School" %></p>
			<p><%= f.text_field :degree, :placeholder => "Degree Name", :style => "width:500px;" %></p>
			<p><%= f.text_field :majors, :placeholder => "Majors or Specialisation Name", :style => "width:500px;" %></p>
			<p><%= f.text_field :marks,  :placeholder => "Marks or GPA" %> </p>
			<%= f.submit "Update Education Information", :class => "btn btn-success"  %>
		<% end %>
		<%= link_to "Delete This School", @user, method: :delete,
															  data: { confirm: 'You Sure?'}%>
	</div>
</div>