<% if current_user.has_no_applists? %>
	<div class="introBar alert alert-info">
		<%= link_to jobs_path do %>
			<h4>Start tracking jobs now!</h4></br>
			<p> ResumeQuery is great for reducing the stress and business of job applications
				 by having them all sorted in one place for you </p>
		<% end %>
	</div>
		
<% else %>
	<% @appList.each do |apps| %>
		<% job = apps.find_job %>
		<% company = job.find_company %>
		<div class="appManage">
			<div class="row">
				<div class="span3">
					<%= form_for apps, :as => :applist do |f| %>
						<%= f.select :status, [['Untouched', 'untouched'], ['Researched', 'researched'],
						                       ['Unfollow', 'unfollow']],{},
									    :onchange => "this.form.submit();"%>	
						<%= f.hidden_field :id, :value => apps.id %>
					<% end %>
				</div>
			
				<div class="span9">
					<%= link_to job do %>
						<strong><%= company.name %></strong></br>
						<%= job.name %>
						<% if job.due_date != nil%>	
	  						<span class="pull-right"> Closes <%= job.due_date.strftime("%B %e")%></span>
						<% end %>
					<% end %>
					<% if false %>
						<%= link_to "x", apps, method: :delete,
													  data: { confirm: 'You Sure?'}%>													
						<div class="info">
							<%= truncate(job.info, :length => 140)%>
						</div>																	
					<% end %>
				</div>
			</div>					
		</div>
	<% end %>
<% end %>