<div class="dash-area">
	<% if current_user.has_no_applists? %>
		<div class="introBar alert alert-info">
			<%= link_to jobs_path do %>
				<h4>Start tracking jobs now!</h4></br>
				<p> ResumeQuery is great for reducing the stress and business of job applications
					 by having them all sorted in one place for you </p>
			<% end %>
		</div>
	<% else %>

		<div class="app-title">
			<h3>Job Apps Basket</h3>
		</div>
		
		<% @appList.each do |apps| %>
			<% job = apps.find_job %>
			<% company = job.find_company %>

			<!-- This is shown initially -->
			<div class="appManage" id="app-line-<%=apps.id%>">
				<div class="row-fluid">	

					<div class="span8">
						<%= link_to '#',remote: true   do %>
							<p><strong><%= company.name %></strong> | 
							<%= job.name %><span class ="hide" id ="expand-<%=apps.id%>">&nbsp&nbsp + Expand </span></p>
						<% end %>
					</div>


					<div class="span1">
						<%= link_to "Website", company.website %>
					</div>

					<div class="span3">
						<span class="pull-right">Closes <%= job.show_due_date %></span>
					</div>
				</div>
			</div>

			<!-- this is shown after -->
			<div class="hidden editer" id="edit-line-<%=apps.id%>">
				<div class="editer-header">
					<strong><%= company.name %></strong><span id="hide-button-<%=apps.id%>">
					<span class="pull-right">&nbsp &nbsp <%= link_to '(Hide)', '#', remote: true %></span> <br />
					<%= job.name %></br>Closes <%= job.show_due_date %></br>
				</div>
				<div class="editer-body">
					<div class="row-fluid">
						<div class="span8 editer-main">
						
						
							
							<div class="editer-job-comments">
								<h5>Notes</h5>
								<%= form_for apps, :as => :applist do |a|%>
									<%= a.text_area :comments %>
									<%= a.hidden_field :id, :value => apps.id %>
									<%= a.submit %>
								<% end %>
								
							</div>
						
						
						</div>
						<div class="span4 editer-right-bar">
							<b>Status:</b><br />
							<%= form_for apps, :as => :applist, remote: true do |f| %>
								<%= f.select :status, [['Not Started'], ['Researched'],
			  				                       ['Sent Application'],['Completed All'],['Unfollow', 'unfollow']],{},
													    :onchange => "this.form.submit();"%>	
								<%= f.hidden_field :id, :value => apps.id %>
							<% end %>
								<div class="editer-job-summary">
									<%= link_to job do %>
									<b>Job Summary</b><br />
									<%= simple_format( (truncate((job.info), :length=>170)) ) %>
									<% end %>
								</div>	
							<br />
							<b>HR Email:</b><br />
							<%= company.hr_email%>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>
</div>