<% if current_user.has_no_applists? %>

	<div class="introBar alert alert-info">
		<%= link_to jobs_path do %>
			<h4>Start tracking jobs now!</h4></br>
			<p> ResumeQuery is great for reducing the stress and business of job applications
				 by having them all sorted in one place for you </p>
		<% end %>
	</div>
			
<% else %>

	<h4>Job Apps Basket</h4>

	<% @appList.each do |apps| %>
		<% job = apps.find_job %>
		<% company = job.find_company %>
		
		<!-- This is shown initially -->
		<div class="appManage" id="app-line-<%=apps.id%>">
			<div class="row-fluid">	
				
				<div class="span7">
					<%= link_to job do %>
						<strong><%= company.name %></strong> | 
						<%= job.name %>
					<% end %>
				</div>
				
				
				<div class="span1">
					<%= link_to "Website", company.website %>
				</div>
				
				<div class="span4">
					<span class="pull-right">Closes <%= job.show_due_date %></span>
				</div>
			</div>
		</div>

		
		<!-- this is shown after -->
		<div class="hidden editer" id="edit-line-<%=apps.id%>" style="background-color:orange; height:100px;padding:25px;">

			<strong><%= company.name %></strong></br>
			<%= job.name %></br>Closes <%= job.show_due_date %></br>
				<%= form_for apps, :as => :applist, remote: true do |f| %>
					<%= f.select :status, [['Not Started'], ['Researched'],
  				                       ['Sent Application'],['Completed All'],['Unfollow', 'unfollow']],{},
										    :onchange => "this.form.submit();"%>	
					<%= f.hidden_field :id, :value => apps.id %>
				<% end %>

			

		</div>
		
	<% end %>
	
<% end %>