	<div class="row-fluid">
		<% if @loadGoal == nil %>
			<div class="span3">
				<h5><i class="icon-star icon-white"></i> What's your current goal?</h5>
			</div>
			<div class="span9">
				<%= form_for @goal, :as => :settings do |f|%>
					<%= f.text_field :goal %>
					<%= f.submit :class => "btn btn-info" %>
				<% end %>
			</div>
		<% else %>
			<%= link_to changeSettings_path do%>
				<div class="span10">
					<p><i class="icon-star icon-white"></i> 
						<strong>Your Goal:</strong> "<%= @loadGoal %>"
						<i class="icon-star icon-white"></i></p>
				</div>
				<div class="span2">
					<p class="pull-right">Edit Goal</p>
				</div>
			<% end %>
		<% end %>
	</div>
	
	