<div class="container">
	<div class="row">
		<div class="span12">
			<b> Summary </b>
			<p>There are <%= Company.all.count %> Companies</p>
			
			<p> There are <%= User.all.count %> Users </p>
			
			<p> There are <%= AppList.all.count %> jobs being followed
				
			<p> There are <%= Follow.all.count %> companies being followed
			
			<ul>
				<table border = 2>
				<tr>
					<th> First Name </th>
					<th> Email </th>
					<th> Phone Number </th>
					<th> User Id </th>
					<th> Sign in Count </th>
					<th> Signup Date </th>
					<th> Company Follow </th>
					<th> Applists </th>
				</tr>
				
				<% @list.each do |user| %>
				
				<tr>
					<td><%= user.first_name %> </td>
					<td><%= user.email %> </td>
					<td><%= user.mobile_number %> </td>
					<td><%= user.id %>  </td>
					<td><%= user.sign_in_count%></td>
					<td><%= user.created_at.strftime("%e%b%y" )%></td>
					<td><%= user.follows.count %></td>
					<td><%= user.app_lists.count %></td>
	
				</tr>
				<% end %>
				</table>
				</br>
				# We should add a column to see how many jobs each user is following - that way we can get feedback from the most active users
			</ul>
		</div>
	</div>
</div>

<% if can? :create, @job %>
	<div class="row-fluid profileSpot">
		<ul>
			<li><strong>LINKS - Remove when admin set up</strong></li>
			<li><%= link_to 'Problems-Page', problems_path %></li>
			<li>Companies:</li>
			<ul>
				<% Company.all.each do |company| %>
					<li><%= link_to "#{company.name}", company %></li>
				<% end %>
			</ul>
			<li><%= link_to 'New company page', new_company_path %>
		</ul>
	</div>			
<% end %>