.container-fluid
	.row-fluid
		.span12
			%b Summary
			%p There are #{Company.all.count} Companies
			%p There are #{User.all.count} Users
			%p There are #{Comment.where("commentable_type = ?", "Company").count} comments created
			
			%ul
				%table{:border => "2"}
					%tr
						%th Username
						%th Email
						%th User Id
						%th Sign in Count
						%th Signup Date
						%th Votes
						%th Comments
						%th Invited_by
					
					- @list.each do |user|
						%tr
							%td= user.username
							%td= user.email
							%td= user.id
							%td= user.sign_in_count
							%td= user.created_at.strftime("%e%b%y" )
							%td= user.votes.count
							%td= Comment.where('user_id = ?', user.id).count
							%td= user.invited_by_id

			%ul 
				%table{:border => "2"}
					%tr
						%th Comment Id
						%th UpVotes
						%th Name
						%th Email
						
					- @comment.each do |comment|
						%tr
							%td= comment.id
							%td= comment.upvotes.size
							%td= User.find(comment.user_id).first_name
							%td= User.find(comment.user_id).email
				