.container-fluid
	.row-fluid
		.span12
			%b Summary
			%p There are #{Company.all.count} Companies
			%p There are #{User.all.count} Users
			%p There are #{Comment.where("commentable_type = ?", "Company").count} comments created
			
			%ul
				%table{:border => "2"}
					%tr
						%th First Name
						%th Email
						%th Phone Number
						%th User Id
						%th Sign in Count
						%th Signup Date
						%th Votes
						%th Comments
					
					- @list.each do |user|
						%tr
							%td= user.first_name
							%td= user.email
							%td= user.mobile_number
							%td= user.id
							%td= user.sign_in_count
							%td= user.created_at.strftime("%e%b%y" )
							%td= user.votes.count
							%td= Comment.where('user_id = ?', user.id).count
