	<% if current_user.has_no_applists? %>
		<% finished("signup") %>
		<%= render 'dashboards/new_user_page'%>
	<% else %>

	<div class="hierachy">
		<div class="row-fluid">
			<div class="span12 bottom-border">
				<span class="dashboard-heading">All the job applications you're doing</span>
				<span class="pull-right"><%= render 'layouts/swiftype'%></span>
			</div>
		</div>
	</div>
		


		

		<% @appList.each do |apps| %>
			<% job = apps.find_job %>
			<% company = job.find_company %>

			<!-- This is shown initially -->
			<div class="appManage" id="app-line-<%=apps.id%>">
				<div class="row-fluid">	
					<div class="span5">
						<%= link_to apps do %>
							<p><strong> <%= company.name %></strong> - 
							<%= job.name %><span class ="hide" id ="expand-<%=apps.id%>">&nbsp&nbsp + Expand  </span></p>
						<% end %>
					</div>

					<div class="span3">
						<div class="pull-right red-text appManage-status">
							<%= apps.status %>
						</div>	
					</div>

					<div class="span1">
						<%= link_to "Website", company.website %>
					</div>

					<div class="span3">
						<span class="pull-right">Closes <%= job.show_due_date %></span>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>

