.dashboard

.row-fluid
	.span7
		- if @appList.count != 0
			%h4(class="applist-area orange-text")
				My Jobs List &nbsp - &nbsp
				= current_user.app_list_count
			
		- @appList.each do |apps|
			= content_tag("div", id: "item-#{apps.id}" ) do
				- job = apps.find_job
				- company = job.find_company
		
				= link_to apps do 
					.appManage
						.row-fluid
							.span7
								%b= company.name 
								\ &nbsp - &nbsp
								= job.name 
							.span3
								%span(class="red-text")=apps.status
							.span2
								.pull-right
									-if job.show_due_date == "Closed"
										%span(class="red-text")
											=job.show_due_date
									-else 
										=job.show_due_date
									&nbsp	
									= link_to content_tag(:i, "", class: "icon-trash", :data => {:app_id => apps.id}), apps,remote: true, method: :delete
		-if (@appList.count > 0)&&(@appList.count <6)
			.dashboard
		-if @appList.count < 6
			=render 'layouts/quick_follow' 
				
			%span(class="small-text") Export to excel (coming soon)
	.offset1.span2
		=render 'layouts/discover'
	.span2
		%h4(class="applist-area")
			\ #jobapps 
		=render 'layouts/instagram_feed'
		#rQfeed
		#instafeed



