#container
	.row-fluid.hidden
		.span12
			.item
				.content-box
					%h3 I am a UNSW student studying commerce & want a job in marketing. I need to intern this year. mpppp	

	.item
		.info-box-light-orange
			.center-alignment
				%h5 Welcome to ResumeQuery!
				%br This is an awesome website where you can become more awesome by being awesome
			
	- @comments.each do |comment|
		- comment_company = comment.get_company_for_comment
		.item
			- if comment.subject == "Interview Review"
				.info-box-light-teal
					.center-alignment
						= image_tag(comment_company.logo.url)
					%br
					%br
					= comment_company.name
					\- 
					= comment.subject
					.row-fluid
						.span10
							%h5= comment.body
						.offset1.span1.vote
							= render partial: 'comments/vote', locals: { comment: comment }	

			- elsif comment.subject == "Salary Review"
				.info-box-light-orange
					.center-alignment
						= image_tag(comment_company.logo.url)
					%br
					%br
					= comment_company.name
					\-
					=comment.subject
					.row-fluid
						.span10
							%h5= comment.body
						.offset1.span1.vote
							= render partial: 'comments/vote', locals: { comment: comment }	

			-elsif comment.subject == "Company Review"
				.info-box-yellow
					.center-alignment
						= link_to image_tag(comment_company.logo.url), comment_company
					%br
					%br
					= comment_company.name
					\-
					=comment.subject
					.row-fluid
						.span10
							%h5= comment.body
						.offset1.span1.vote
							= render partial: 'comments/vote', locals: { comment: comment }	
							


	- @company.each do |company|
		.item
			.info-box-light-orange
				.pad-top-tiny
				.center-alignment
					- if !company.logo.url.blank?
						= link_to image_tag(company.logo.url), company
						%h5= link_to company.name, company
				=company.industry
				%br
				=company.info
				%br
				%i(class="icon-briefcase")
				Go to company website
				%br				
				=image_tag('whirlpool-logo.png', size: "15x15") 
				Go to Whirlpool Forum

	.item
		=link_to 'http://bit.ly/1hv6Fbw', :target => '_blank' do 
			.info-box-light-teal
				.center-alignment
					=  image_tag('unsw.png')
					%h5 At UNSW? Don't lose a chance to stand out
					There's a brilliant team at UNSW Careers & Employment waiting to improve your resume and apps. Get in before its busy.
