#container
	.row-fluid.hidden
		.span12
			.item
				.content-box
					%h3 I am a UNSW student studying commerce & want a job in marketing. I need to intern this year. mpppp	

	.item
		.info-box-light-orange
			.center-alignment
				%h5 Welcome to DemPoints!
				%br You can post interesting and useful points about companies & their intern/grad jobs here
				-finished("signup_title")
	- counter = 1		
	- @comments.each do |comment|
		- comment_company = comment.get_company_for_comment
		-if counter == 5
			.item
				=link_to 'http://on.fb.me/1c3n7z9', :target => '_blank' do 
					.light-blue-message
						.center-alignment
							=  image_tag('bsoc_logo.png')
							%h5 The UNSW Business Society with the ASB Young Alumni is presenting: Confessions of a Recent Graduate!
							This is a great opportunity to learn about the Alumni community that you will be a part of when you graduate, and find out more about where the degrees of these recent graduates have taken them! 
							%br
							%br
							%b October 17 6pm @ Deans Lounge ASB
							%br
							Click to find out more
			
			
			
		-if counter == 15		
			.item
				=link_to 'http://bit.ly/1hv6Fbw', :target => '_blank' do 
					.light-teal-message
						.center-alignment
							=  image_tag('unsw.png')
							%h5 At UNSW? Don't lose a chance to stand out
							There's a brilliant team at UNSW Careers & Employment waiting to improve your resume and apps. Get in before its busy
		
		.item		
			- if comment.subject == "Interview Review"
				.info-box-light-teal
					.center-alignment
						= link_to image_tag(comment_company.logo.url), comment_company
					%br
					%br
					= comment_company.name
					\- 
					= comment.subject
					.row-fluid
						.span10
							%h5= link_to truncate((sanitize(comment.body)), length: 320), comment_company
						.offset1.span1.vote
					=link_to raw("Thank Author &nbsp <i class=\"icon-thumbs-up\"></i> "), {:controller =>"comments", :action => "upvote", :id => comment.id}, method: :put, :class => "btn btn-small", :remote => true
					.pull-right
						- thanks = comment.upvotes.size 
						- unless thanks == 0 
							%span[comment]
								=thanks
							have given thanks

			- elsif comment.subject == "Salary Review"
				.info-box-light-orange
					.center-alignment
						= link_to image_tag(comment_company.logo.url), comment_company
					%br
					%br
					= comment_company.name
					\-
					=comment.subject
					.row-fluid
						.span12
							%h5= link_to truncate((sanitize(comment.body)), length: 320), comment_company
					%br
					=link_to raw("Thank Author &nbsp <i class=\"icon-thumbs-up\"></i> "), {:controller =>"comments", :action => "upvote", :id => comment.id}, method: :put, :class => "btn btn-small", :remote => true
					.pull-right
						- thanks = comment.upvotes.size 
						- unless thanks == 0 
							%span[comment]
								=thanks
							have given thanks


			-elsif comment.subject == "Company Review"
				.info-box-yellow
					.center-alignment
						= link_to image_tag(comment_company.logo.url), comment_company
					%br
					%br
					= comment_company.name
					\-
					=comment.subject
					.row-fluid
						.span12
							%h5= link_to truncate((sanitize(comment.body)), length: 320), comment_company
					%br
					=link_to raw("Thank Author &nbsp <i class=\"icon-thumbs-up\"></i> "), {:controller =>"comments", :action => "upvote", :id => comment.id}, method: :put, :class => "btn btn-small", :remote => true
					.pull-right
						- thanks = comment.upvotes.size 
						- unless thanks == 0 
							%span[comment]
								=thanks
							have given thanks
					%br 
					-# Mark as inaccurate
		-counter += 1
	