	<div class="container">		
		<div class="row">
			<div class="span8">
				<%= render 'dashboards/userbar'%>
				<div class="row-fluid appArea">
					<%= render 'dashboards/appmanage'%>
				</div>
			
				
				<% if can? :create, @job %>
					<div class="row-fluid profileSpot">
						<ul>
							<li><strong>LINKS - Remove when admin set up</strong></li>
							<li><%= link_to 'Problems-Page', problems_path %></li>
							<li>Companies:</li>
							<ul>
								<% Company.all.each do |company| %>
									<li><%= link_to "#{company.name}", company %></li>
								<% end %>
							</ul>
							<li><%= link_to 'New company page', new_company_path %>
						</ul>
					</div>			
				<% end %>
			</div>
			
			<div class="offset1 span3 sidebar">
				<!-- The if-false statements here are 
				hiding sidebar features yet to be completed -->
				
				<% if false %>
					<%= render 'dashboards/sidebar/profile_completion'%>
				<% end %>
				<%= render 'shared/report_problems' %>	
				

			</div>
		</div>		
	</div>
	
	<div class="container">
		<div class="row">
			<div class="span12 profileSpot jobList">
				<div class="row">
					<div class="span8">
						<%= render 'dashboards/show_most_jobs' %>
					</div>					
					<div class="span4">
						<%= render 'dashboards/show_most_companies' %>
					</div>
				</div>
			</div>
		</div>
	</div>