
	<div class="container-fluid">
		<%= render 'dashboards/steps'%>
		
		<div class="row-fluid">
			<div class="span9">
				<% if can? :create, @job%>
					<div class="currentGoal">
						<%= render 'dashboards/goal'%>
					</div>
				<% end %>
				<div class="row-fluid profileSpot">
					<%= render 'dashboards/appmanage'%>
				</div>
			
				
				<% if can? :create, @job %>
					<div class="row-fluid profileSpot">
						<ul>
							<li><strong>LINKS - Remove when admin set up</strong></li>
							<li><%= link_to 'Problems-Page', problems_path %></li>
							<li>Companies:</li>
							<ul>
								<% Company.all.each do |company| %>
									<li><%= link_to "#{company.name}", company %></li>
								<% end %>
							</ul>
							<li><%= link_to 'New company page', new_company_path %>
						</ul>
					</div>			
				<% end %>
			</div>
		
			<div class="span3 sidebar">
				<!-- The if-false statements here are 
				hiding sidebar features yet to be completed -->
				<% if false %>
					<%= render 'dashboards/sidebar/profile_completion'%>
				<% end %>
				<% if false %>
					<%= render 'dashboards/sidebar/did_interview'%>
					<%= render 'dashboards/sidebar/resume_stats'%>
				<% end %>
				<%= render 'dashboards/sidebar/report_problems' %>				

			</div>

		</div>
	</div>