<div class="dash-area">
	<% if current_user.has_no_applists? %>
		<div class="introBar alert alert-info">
			<%= link_to jobs_path do %>
				<h4>Start tracking jobs now!</h4></br>
				<p> ResumeQuery is great for reducing the stress and business of job applications
					 by having them all sorted in one place for you </p>
			<% end %>
		</div>
	<% else %>

		<div class="app-title">
			<h3>Your Apps Dashboard</h3>
		</div>
		
		<% @appList.each do |apps| %>
			<% job = apps.find_job %>
			<% company = job.find_company %>

			<!-- This is shown initially -->
			<div class="appManage" id="app-line-<%=apps.id%>">
				<div class="row-fluid">	

					<div class="span8">
						<%= link_to '#',remote: true   do %>
							<p><strong> <%= company.name %></strong> | 
							<%= job.name %><span class ="hide" id ="expand-<%=apps.id%>">&nbsp&nbsp + Expand  </span></p>
						<% end %>
					</div>


					<div class="span1">
						<%= link_to "Website", company.website %>
					</div>

					<div class="span3">
						<span class="pull-right">Closes <%= job.show_due_date %></span>
					</div>
				</div>
			</div>

			<!-- this is shown after -->
			<div class="hidden editer" id="edit-line-<%=apps.id%>">
				<div class="editer-header">
					<strong><%= company.name %></strong><span id="hide-button-<%=apps.id%>">
					<span class="pull-right">&nbsp &nbsp <%= link_to 'Hide', '#', remote: true %></span> <br />
					<%= job.name %></br>Closes <%= job.show_due_date %></br>
				</div>
				<div class="editer-body">
					<div class="row-fluid">
						<div class="span8 editer-main">
						
						
							
							<div class="editer-job-comments">
								<% if apps.has_no_notes? %>
									<%= apps.has_no_notes? %> MAKE A NOTE !<br />
									<%= apps.notes.count %>
								<% else %>
									<% apps.show_normal_notes.reverse.each do |normal| %>
										<div class="comments-header">
											<span class="time"><%= (normal.updated_at).strftime("%d %b %I:%M %P") %></span>
											<span class="pull-right time"><%= link_to "Delete", normal, method: :delete,
																								  data: { confirm: 'You Sure?'}%>
											</span>
											<br />
										</div>
										<%= normal.info %><br /><br />
									<% end %>
								<% end %>
								<hr>	
								<h5>Add Note</h5>
								<%= form_for apps.create_new_note, :as => :note do |a|%>
									<%= a.text_area :info, :class=>"note-area", :placeholder => "Your Note" %>
									<%= a.hidden_field :app_list_id, :value => apps.id %>
									<%= a.hidden_field :user_id, :value => current_user.id %>
									<%= a.hidden_field :kind, :value => "comment"%>
									<%= a.hidden_field :id, :value => apps.id %>
									<%= a.submit :class =>"btn btn-success" %>
								<% end %>
								
							</div>

							
						
						</div>
						<div class="span4 editer-right-bar">
							<b>Status:</b><br />
							
							<%= form_for apps, :as => :applist, remote: true do |f| %>
								<%= f.select :status, [['Not Started'], ['Researched'],
							                       ['Sent Application'],['Completed All'],['Unfollow', 'unfollow']],{},:id => "applist-select-#{apps.id}", remote: true %>	
								<%= f.hidden_field :id, :value => apps.id %>
							<% end %>
							
							<div class="editer-job-summary">
								<b><i class="icon-briefcase"></i> Job Summary</b><br />
								<%= link_to job do %>
									<%= simple_format( (truncate((job.info), :length=>140)) ) %>
								<% end %>
							</div>	
							<br />
							<b><i class="icon-user"></i> HR Contacts:</b><br />
							<%= company.hr_email%><br />
							<% apps.show_hr_notes.each do |hrc| %>
								<%= hrc.info %><br />
								<div class="hidden" id="hrc-<%hrc.id%>">
								<%= form_for hrc do |fhr| %>
									<%= fhr.text_field :info%>
								<% end %>
								</div>	
							<% end %>
							
							<%= link_to "Add your own firm contacts", '#', :id => "hr-button-#{apps.id}" %>
							<div class="hide" id="hr-contacts-<%=apps.id%>">
								<%= form_for apps.create_new_note, :as => :note do |hr| %>
									<%= hr.text_field :info, :placeholder => "HR Contact"%>
									<%= hr.hidden_field :app_list_id, :value => apps.id %>
									<%= hr.hidden_field :kind, :value => "hr"%>
									<%= hr.hidden_field :user_id, :value => current_user.id %>
									<%= hr.submit :class => "btn" %>
								<% end %>
							</div>
							
							<br /><br />
							<b><i class="icon-globe"></i> Website:</b><br />
							<div class="web-link"><%= link_to company.website, "http://#{company.website}" %></div>
							
						</div>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
