	<div class="container">		
		<div class="row">
			<div class="span8">
				<%= render 'dashboards/userbar'%>
				<% if can? :create, @job %>
					<div class="currentGoal">
						<%= render 'dashboards/goal'%>
					</div>
				<% end %>
				<div class="row-fluid appArea">
					<%= render 'dashboards/appmanage'%>
				</div>
			
				
				<% if can? :create, @job %>
					<div class="row-fluid profileSpot">
						<ul>
							<li><strong>LINKS - Remove when admin set up</strong></li>
							<li><%= link_to 'Problems-Page', problems_path %></li>
							<li>Companies:</li>
							<ul>
								<% Company.all.each do |company| %>
									<li><%= link_to "#{company.name}", company %></li>
								<% end %>
							</ul>
							<li><%= link_to 'New company page', new_company_path %>
						</ul>
					</div>			
				<% end %>
			</div>
			
			<div class="offset1 span3 sidebar">
				<!-- The if-false statements here are 
				hiding sidebar features yet to be completed -->
				
				<% if false %>
					<%= render 'dashboards/sidebar/profile_completion'%>
				<% end %>
				<% if false %>
					<%= render 'dashboards/sidebar/did_interview'%>
					<%= render 'dashboards/sidebar/resume_stats'%>
				<% end %>
				<%= render 'shared/report_problems' %>		

			</div>
		</div>		
	</div>
	
	<div class="container">
		<div class="row">
			<div class="span12 profileSpot jobList">
				
				<div class="row">
					<div class="span8">
						<h3>More Job Opportunities</h3>
						<ul>
							<% @jobs.each do |j| %>
								<%= link_to j do %>
									<li><strong><%= j.find_company.name %></strong> - <%= j.name %>

									</li>
								<% end %>
							<% end %>
					
						</ul>
					</div
				</div>
				
				<% @companies.each do |c|%>
					<%= link_to c do%>
						<%= c.name %> 
					<% end %> -
				<% end %>
				
			</div>
			


			
		</div>
	</div>