<div class="container">
	<%= form_for @category do |f| %>
		<%= f.text_field :name, :placeholder => "Name" %> </br>
		<%= f.text_field :category, :placeholder => "Type of Category" %>		
					
		<%= f.submit %>
	<% end %>

	<%= link_to "Delete This Article", @category, method: :delete, data: { confirm: 'You Sure?'}%>
</div>