-@comments.each do |comment|
	- comment_company = comment.get_company_for_comment
	- discussion_number = comment.discussions.count
	.row
		.small-2.columns
			= link_to image_tag(comment_company.logo.url(:thumb)), comment_company			
			%br
			%br
			%br
			.thank-area
				= link_to "Thank Author", {:controller =>"comments", :action => "upvote", :id => comment.id}, method: :put, :class => "thank-button"
				%br
				%br								
				- thanks = comment.upvotes.size 
				- unless thanks == 0 
					=thanks
					-if thanks == 1
						person has thanked the author
					-else
						people have thanked the author
		.small-10.columns.feed-text
			%b= comment.title
			\-
			=link_to comment_company.name, comment_company
				
			%br
			= link_to simple_format(comment.body), comment
			.feed-subtext


				
				-if discussion_number == 0
					%b=link_to "Comment", comment
				-elsif discussion_number == 1
					%b=link_to "#{comment.discussions.count} comment", comment
				-else 	
					%b=link_to "#{comment.discussions.count} comments", comment
	%hr

 