<div class="container footing margin-top">
	<div class="row">
		<div class="offset1 span10">
			<div class="footer">
				<ul class="inline">
					<li><strong>resQuery</strong></li>
					<li><%= link_to 'About', about_path %></li>
					<li><%= link_to 'The Australia-wide Graduate & Internship List', jobs_path %></li>
					<li><%= link_to 'Companies', companies_path %></li>
					<li><%= link_to 'Knowledge Base', articles_path %></li>
						<% if false %>
						
						<li><%= link_to 'Privacy Policy' %></li>
						<li><%= link_to 'Blog' %></li>				
						<li><%= link_to 'Twitter' %></li>
						<% if signed_in? %>
					      <li><%= link_to 'Help' %></li>
						<% end %>					
					<% end %>
					<li class="pull-right"> We wish you a  happy <%= Time.now.localtime.strftime("%A") %> ! &nbsp</li>
				</ul>
			</div>
		</div>
	</div>
</div>