.header
	.container
		.row-fluid
			.span2
				= link_to image_tag('http://s3-ap-southeast-2.amazonaws.com/static-images-resquery/menulogo.png'), root_path, :class => "menulogo"		
			.span6
				=link_to companies_path do
					.my-jobs-button
						Companies
				- if false
					=link_to upvoted_comments_path do
						.my-jobs-button
							My Upvoted Posts

				=link_to questions_path do
					.my-jobs-button
						Questions & Answers
						
				=link_to new_comment_path do
					.my-jobs-button
						Add Advice
				=link_to "Add Question", "#", :class => "btn btn-info", :id => "question-button", :remote => true

						
				
				
			.span4
				.pull-right
					=link_to updates_path do 
						.account-button
							New Stuff !
				
					= link_to edit_user_registration_path do
						.account-button				
							= current_user.first_name
					=link_to destroy_user_session_path, :method =>"DELETE" do
						.account-button
							Log Out
-# currently hidden because redesigning site to something simpler
.second-header.hidden
	.container
		= link_to updates_path do 
			%b(class="header-alert")
				New Stuff! Now you can now add a question and seek advice !
	
		.pull-right
			Did you find DemPoints useful? Share it with a friend: 
			&nbsp
			=render 'layouts/send_button'		
			&nbsp &nbsp
			
- #questions
#question
	.question-area
		%b Add Question
		=form_for @ask_question do |f|
			= f.collection_select :company_id, Company.order(:name), :id, :name, {}, :id => "searchq" 
			%br
			%br
			= f.collection_select :category_id, Category.order(:name).where("category = ?", "Review"), :id, :name, {}, :id => "searchq2"
			%br
			%br
			= f.text_area :question_content, :placeholder => "What is your question?"
			= f.hidden_field :user_id, :value => current_user.id
			= f.submit