<div class="left-dashboard">
	<div class="logo">
		<%= link_to image_tag('menulogo.png'), root_path %>
	</div>
	
	<div class="menu-area">
		<ul class="unstyled">
			<%= link_to groups_path do %>
				<li><i class="icon-comment"></i> &nbsp My Groups </li>
			<% end %>
			<%= link_to my_jobs_path do %>
				<li><i class="icon-pencil  "></i> &nbsp My Jobs  <span class="pull-right badge badge-important">
					<%= current_user.app_list_count %> </span></li>
			<% end %>
			<%= link_to jobs_path do %>
				<li><i class="icon-briefcase  "></i> &nbsp  Job Opportunities 

				</li>
			<% end %>
			<%= link_to companies_path do %>
				<li><i class="icon-certificate  "></i> &nbsp Companies </li>
			<% end %>


			
		</ul>
	</div>
	
	<div class="groups-list hidden-phone">
		<hr>
		
		<% if current_user.has_no_groups? %>
		 <%= link_to "Make your own group!", groups_new_path%>
		<% else %>
			<ul class="unstyled">	
				<li> <b class="grey-text">Your Groups</b> </li>
			<% current_user.groups.each do |group| %>
				<%= link_to group do %>
					<li class="li-smaller-height">
						<%= group.name  %>
					</li>					
				<% end %>
			<% end %>
			<li><%= link_to "Make your own group!", new_group_path %></li>
			</ul>
			
		<% end %>
	</div>
	
	
</div>