<div class="left-dashboard">
	<%if false%>
	<div class="logo">
		<%= link_to image_tag('resumeQuery_white.png'), root_path %>
	</div>
	<% end %>

	
	<div class="menu-area">
		<ul class="unstyled">
			<%= link_to root_path do %>
				<li><i class="icon-pencil  "></i> &nbsp My Jobs</li>
			<% end %>
			<%= link_to jobs_path do %>
				<li><i class="icon-briefcase  "></i> &nbsp  Job Opportunities </li>
			<% end %>
			<%= link_to companies_path do %>
				<li><i class="icon-certificate  "></i> &nbsp Companies </li>
			<% end %>
		</ul>
	</div>
	
	<div class="blank-area">
		
	</div>
	

	<% if false %>
	<div class="user-area">
		<%= link_to edit_user_registration_path do%>
			<b><%= current_user.first_name %> <%= current_user.last_name %></b><br />
			<%= current_user.email %><br />
		<% end %>
		<br />
		
		
		<%= link_to 'User Settings', edit_user_registration_path %> &nbsp &nbsp &nbsp &nbsp
		<%= link_to 'Log Out', destroy_user_session_path, :method =>"DELETE" %>
	</div>
	<% end %>
	
	<div class="menu-area about-area">
		<ul class="unstyled">
			
			
			<li><i class="icon-comment  "></i>
				&nbsp
				<%= mail_to "team@resquery.com", "Contact Us" do %>
				 	 Contact Us
				<% end %>
			</li>
			<%= link_to suggestions_path do %>	
				<li><i class="icon-wrench  "></i> &nbsp Suggestions & Bugs</li>
			<% end %>
			<%= link_to about_path do %>
				<li><i class="icon-user  "></i> &nbsp About ResQuery</li>
			<% end %>
			
		</ul>
	</div>

</div>