<div class="left-dashboard">
	<div class="logo">
		<%= link_to image_tag('resumeQuery_white.png'), root_path %>
	</div>


	
	<div class="menu-area">
		<ul class="unstyled">
			<%= link_to root_path do %>
				<li><i class="icon-pencil"></i> &nbsp Apps Dashboard</li>
			<% end %>
			<%= link_to jobs_path do %>
				<li><i class="icon-briefcase"></i> &nbsp  Jobs </li>
			<% end %>
			<%= link_to companies_path do %>
				<li><i class="icon-certificate"></i> &nbsp Companies </li>
			<% end %>
			<li><i class="icon-book"></i> &nbsp Knowledge Base</li>
			<li><i class="icon-wrench"></i> &nbsp Suggestions & Bugs</li>
		</ul>
	</div>
	
	<div class="blank-area">
		
	</div>
	

	
	<div class="user-area">
		<b><%= current_user.first_name %> <%= current_user.last_name %></b><br />
		<%= current_user.email %><br />
		<br />
		<%= link_to 'User Settings', edit_user_registration_path %> &nbsp &nbsp &nbsp &nbsp
		<%= link_to 'Log Out', destroy_user_session_path, :method =>'delete' %>
	</div>
	<div class="menu-area about-area">
		<ul class="unstyled">
			<li><i class="icon-comment"></i> &nbsp Contact Us</li>
			<li><i class="icon-user"></i> &nbsp About ResumeQuery</li>
			
		</ul>
	</div>

</div>