.navbar	
	.nav-item
		= link_to root_path do
			=image_tag('star.png', height: '30', width: '30')
			&nbsp
			%span(class="navbar-text")Home
	
	.nav-item
		= link_to companies_path do
			=image_tag('companies.png', height: '30', width: '30')
			&nbsp
			%span(class="navbar-text")Companies
	
	.nav-item
		= link_to questions_path do
			=image_tag('qa.png', height: '30', width: '30')
			&nbsp
			%span(class="navbar-text")Questions	

	.nav-item#user-control
		=image_tag('user.png', height: '30', width: '30')
		&nbsp
		%span(class="navbar-text")= current_user.displayname

.nav-collapse.text-right
	= image_tag('arrow-left.png', height: '30', width: '30', :id => "navbar-expand", :remote => true)
	%br
	= image_tag('arrow-right.png', height: '30', width: '30', :id => "navbar-collapsed", :remote => true)

