-#.logo
	-# link_to image_tag('http://s3-ap-southeast-2.amazonaws.com/static-images-resquery/menulogo.png'), root_path, :class => "menulogo"		

.navbar
	
	.nav-item
		= link_to companies_path do
			=image_tag('star.png', height: '30', width: '30')
			&nbsp
			%span(class="navbar-text")Home
	
	.nav-item
		= link_to companies_path do
			=image_tag('companies.png', height: '30', width: '30')
			&nbsp
			%span(class="navbar-text")Companies
	
	.nav-item
		=image_tag('qa.png', height: '30', width: '30')
		&nbsp
		= link_to "Q&A", questions_path, :class => 'navbar-text'

	.hidden
		%li=link_to "Add Question", "#", :class => "btn btn-info", :id => "question-button", :remote => true
	%br
	-# link_to "New Stuff!", updates_path
	-#%br
	= link_to current_user.username, edit_user_registration_path
	%br
	= link_to "Log Out", destroy_user_session_path,:method =>"DELETE"
	%br
	= link_to "Collapse", '#', :id => "navbar-control", :remote => true
	%br
	= link_to "Expand", '#', :id => "navbar-collapsed", :remote => true