<div class="signedInHeader">
	<div class="container">
		<div class="row">
			
			
			<div class="span2">
				<%= link_to image_tag('resumeQuery_white.png'), root_path %> 
			</div>
			<div class="span6 searchBox">
				
				<!-- Search loads if we have search working-->
				
				<% if can? :create, @job%>
					<%= form_for :search do |f| %>
						<%= f.text_field :search, :placeholder => 
							"Search for Companies, Posts & Guides" %> <i class="icon-search icon-white"></i> 
					<% end %>
				<% end %>
				
			</div>
			<div class="pull-right">
				<ul class="inline">
					<li><%= link_to 'User Settings', edit_user_registration_path %></li>
					<li><%= link_to 'Log Out', destroy_user_session_path, :method =>'delete' %></li>
				</ul>
			</div>	
		</div>
	</div>
</div>