<!DOCTYPE html>
<html>
<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>

	<head>
	  <title>Internship & graduate job application management software: ResumeQuery</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <%= favicon_link_tag 'favicon.ico' %>
	  <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<!-- Yeah if you're reading this code, sorry for the eyesore -Pashpops -->
		<!-- Alternatively if you're keen on making this code & whole project more awesome, email us: pasha.rayan@gmail.com -->		
		<% if signed_in? %>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span2">
						<%= render 'layouts/left-board'%>
					</div>
					<div class="span8">
						<%= yield %>
					</div>
					<div class="span2">
						<%= render 'layouts/right-board'%>
					</div>	
				</div>
			</div>
		<% else %>
			<%=render 'staticpages/copywritearea'%>
			<%= yield %>			
			<% cache "footer" do %>
				<%=render 'layouts/footer'%>
			<% end %>
		<% end %>
		<%=render 'shared/google_analytics' if Rails.env.production? %>
	</body>
</html>
