<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title><%= full_title(yield(:title)) %></title>  
  	<%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
	<%= favicon_link_tag 'favicon.ico' %>
	<link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= render 'shared/google_analytics' if Rails.env.production? %>
	<script src="/js/foundation/foundation.min.js></script>
	<script src="/js/foundation/foundation.offcanvas.js></script>
  </head>

  <body>
		<!-- Hi! Hope you enjoy looking under the hood! -->
		<!-- Our goal with DemPoints is to help give students the opportunities that me (Pasha) and Varun had when we applied for jobs -->
		<!-- We'd love your help and suggestions! Email us at team@resquery.com  -->	
		<% if signed_in? %>
		
		<div class ="show-for-medium-up">
			<header id="sidebar"> 
				<%= render 'layouts/navbar'%>
			</header>
		
			<section id="insidebar">
				<%= render 'layouts/insidebar'%>
			</section>
		</div>
		
		<div class ="show-for-small-only">
			<nav class="top-bar" data-topbar>
				<ul class="title-area"> 
					<li class="name"> <h1><%= link_to "DemPoints", root_path%></h1> </li>
					<li class="toggle-topbar menu-icon"><a href="#"></a></li>
				</ul> 
				<section class="top-bar-section">
				 	<!-- Right Nav Section --> 
					<ul class="right">
						 <li><%= link_to "Home", root_path%></li>
						 <li><%= link_to "Companies", companies_path%></li>
						 <li><%= link_to "Questions", questions_path%></li>
						 <li class="has-dropdown"> 
							<a href="#"><%= current_user.displayname %></a> 
							<ul class="dropdown">
								 <li><%= link_to "Account Settings", edit_user_registration_path%></li> 
								 <li><%= link_to "Log Out", destroy_user_session_path, :method =>"DELETE"%></li> 
							</ul>
						</li>
					</ul>
				 </section> 
			</nav>
		</div>
		<article id="contentWrapper"> 
			<section id="content"> 
				<div class="row pad-top">
					<%= yield %>
				</div>
			</section> 
		</article>

		<% else %>
			<div class="row">
				<%= yield %>
				<div class="row">
					<div class="large-11 large-offset-1 columns">
						<%= render 'layouts/footer'	%>
					</div>
				</div>
			</div>
		<% end %>
  
  <%= javascript_include_tag "application" %>
  </body>
</html>