<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= full_title(yield(:title)) %></title>  

	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <%= favicon_link_tag 'favicon.ico' %>
	  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
 	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
	</head>
	
	<body>
		<!-- Hi! Hope ResumeQuery's helped you! Drop us an email with any questions: pasha.rayan@gmail.com. Best of luck! -->	
		<% if signed_in? %>
			<div class="signed-in">
			<%= render 'layouts/header'%>
				<div class="container-fluid">
					<div class="row-fluid">

						<div class="span10">
						   <%= yield %>
						</div>
					</div>
				</div>
			</div>
		<% else %>
			<%=render 'staticpages/copywritearea'%>
			<%= yield %>			
			<% cache "footer" do %>
				<%=render 'layouts/footer'%>
			<% end %>
		<% end %>
		<%=render 'shared/google_analytics' if Rails.env.production? %>
	</body>
</html>
